export(add_quotes)
export(build_cran_previous_csv)
export(build_current_csv)
export(build_json_tree)
export(current_pkg_url)
export(get_pkg_attribute)
export(get_pkg_author)
export(get_pkg_citation)
export(get_pkg_compilation)
export(get_pkg_date)
export(get_pkg_depends)
export(get_pkg_description)
export(get_pkg_imports)
export(get_pkg_license)
export(get_pkg_maintainer)
export(get_pkg_materials)
export(get_pkg_name)
export(get_pkg_rev_depends)
export(get_pkg_rev_imports)
export(get_pkg_rev_suggests)
export(get_pkg_suggests)
export(get_pkg_url)
export(get_pkg_version)
export(get_pkg_views)
export(get_table_attrs)
export(get_table_reverse)
export(json_children)
export(pkg_parser)
export(previous_pkg_df)
export(previous_pkg_html_table)
export(previous_pkg_url)
export(scrape_current)
export(scrape_current_pkg)
export(scrape_current_pkg_html)
export(scrape_previous_pkg)
export(split_pkg_attr)
import(XML)
import(igraph)
import(stringr)
import(tm)
