export("(≥")
export(")")
export("3.0.1),")
export("=")
export("FactoMineR,")
export("NA,")
export("\dontrun{")
export("amap,")
export("build_json_tree(plspm_deps,")
export("diagram,")
export("ggplot2,")
export("list(")
export("reshape,")
export("tester,")
export("testthat,")
export("toy_json_tree.json"))
export("}")
export(add_quotes)
export(build_cran_previous_csv)
export(build_current_csv)
export(c("R)
export(c("matrixpls,)
export(c("pathmox"),)
export(c("plsdepot,)
export(current_pkg_url)
export(depends)
export(file)
export(get_pkg_attribute)
export(get_pkg_author)
export(get_pkg_citation)
export(get_pkg_compilation)
export(get_pkg_date)
export(get_pkg_depends)
export(get_pkg_description)
export(get_pkg_imports)
export(get_pkg_license)
export(get_pkg_maintainer)
export(get_pkg_materials)
export(get_pkg_name)
export(get_pkg_rev_depends)
export(get_pkg_rev_imports)
export(get_pkg_rev_suggests)
export(get_pkg_suggests)
export(get_pkg_url)
export(get_pkg_version)
export(get_pkg_views)
export(get_table_attrs)
export(get_table_reverse)
export(imports)
export(json_children)
export(knitr"),)
export(pkg_parser)
export(plsdepot"))
export(plspm_deps)
export(previous_pkg_df)
export(previous_pkg_html_table)
export(previous_pkg_url)
export(revdepends)
export(revimports)
export(revsuggests)
export(scrape_current)
export(scrape_current_pkg)
export(scrape_current_pkg_html)
export(scrape_previous_pkg)
export(split_pkg_attr)
export(suggests)
export(turner"),)
